@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body{
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
  font-family: "Raleway", serif;
}

#root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  width: 100%;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

footer{
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #0a0a0a;
  color: white;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.sc{
  color: white;
  background-color: red;
  height: 20px;
  width: 20px;
}

#down{
  width: 40px;
  margin-top: 60px;
}


#sHead{
  color: #b98c0e;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

#ex > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#check{
  width: 25px;
}






/* @media only screen and (max-width: 767px){
  #page{
    padding-top: 100px;
  }
  #page, #page2, #page3, #page4{
    min-height: 700px;
  }
  
  #skills{
    padding-top: 100px;
  }
  #sHead{
    font-size: 1.7rem;
  }
  #ex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
    width: 300px;
    height: 300px;
  }
  #ex > div{
    justify-content: center;
    width: 200px;
  }
  #check{
    width: 15px;
  }
  #screen{
    width: 80px;
    border-radius: 20px;
    height: 100px;
  }
  #screenw{
    width: 120px;
    height: 100px;
    margin-right: 5px;
    border-radius: 20px;
  }
  #page, #page2, #page3, #page4{
    overflow: hidden;
  }
  #projects{
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 10px;
  }
  #project{
    padding: 5px 20px;
  }
  #apps{
    font-size: 1rem;
  }
  #page3{
    padding-top: 10px;
    padding-bottom: 110px;
  }
  #apps{
    gap: 0.5rem;
  }
  #projectDown > #down{
    margin-top: 20px;
  }
  #cIcon{
    width: 25px;
    height: 30px;
  }
} */